/* ---general Styles-- -*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Karla', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    color: #323A45;
    font-weight: bold;
}

.compagny {
    color: #848484ab;
    margin-bottom: 5vh;
}

nav {
    display: grid;
    grid-template-columns: 60% 23% 10% 50px;
    grid-template-rows: 170px;
    align-items: center;
    padding: 0 5% 0 8%;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #323A45;
}

a:hover {
    font-weight: 800;
    opacity: 0.5;
}

.backpack-Image {
    margin: 1vh 8%;
    background-image: url("../img/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

main .compagny {
    color: #848484;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 8%;
    padding: 0 5% 0 8%;
}

/* -------Page 2--------- */

main {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-items: center;
    padding: 0 8%;
}


.card {
    display: grid;

}

.card>img {
    width: 100%;
}

.card img:hover {
    opacity: 0.2;
}

.paragraphStyle {
    margin-top: 5vh;
}


.textImage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* -------Page 3----- */

.bookImage {
    background-image: url("../img/d7.png");
}

.bookImage:hover {
    opacity: 0.2;
}

/* Page 5 */

.lampImage {
    background-image: url("../img/h6.png");
}

.bookImage:hover {
    opacity: 0.2;
}

/* Page 7 */

.minImage {
    background-image: url("../img/c22.png");
}

.bottleImage:hover {
    opacity: 0.2;
}

/* Page 9 */
.bottleImage {
    background-image: url("../img/u8.png");
}

.bottleImage:hover {
    opacity: 0.2;
}

/* ---Footer--- */
.footer {
    margin-left: 8%;
    display: grid;
    grid-template-columns: 33% 1fr 1fr 1fr;
    grid-template-rows: 50px 2.5vh 2.5vh 100px 1fr;
}

.p13 {
    grid-column: 4/5;
}


.bold {
    font-weight: 800;
}